{% set published_label = "Published" %}
{% set updated_label = "Updated" %}
{% set tags_label = "Tags" %}
{% set date_format = "%d.%m.%Y" %}
{% set configured_date_format = config.extra.devlab.blog.date_format | default(value="") %}
{% if configured_date_format %}
{% set date_format = configured_date_format %}
{% endif %}
{% if config.extra.labels is defined %}
{% if config.extra.labels.published is defined %}
{% set published_label = config.extra.labels.published %}
{% endif %}
{% if config.extra.labels.updated is defined %}
{% set updated_label = config.extra.labels.updated %}
{% endif %}
{% if config.extra.labels.tags is defined %}
{% set tags_label = config.extra.labels.tags %}
{% endif %}
{% endif %}

{% if page.date or page.updated or (page.extra.release is defined and page.extra.release) or (page.taxonomies is defined and page.taxonomies.tags) %}
<div class="post-meta">
  {% if page.extra.release is defined and page.extra.release %}
  <span class="post-release-badge">{{ page.extra.release }}</span>
  {% endif %}

  {% if page.date %}
  <span class="post-meta-item">
    {{ published_label }}
    <time datetime="{{ page.date }}">{{ page.date | date(format=date_format) }}</time>
  </span>
  {% endif %}

  {% if page.updated and page.updated != page.date %}
  <span class="post-meta-item">
    {{ updated_label }}
    <time datetime="{{ page.updated }}">{{ page.updated | date(format=date_format) }}</time>
  </span>
  {% endif %}

  {% if page.taxonomies is defined and page.taxonomies.tags %}
  <span class="post-meta-item post-meta-tags">
    <span>{{ tags_label }}</span>
    {% for tag in page.taxonomies.tags %}
    <a class="post-tag" href="{{ get_taxonomy_url(kind='tags', name=tag) }}">{{ tag }}</a>
    {% endfor %}
  </span>
  {% endif %}
</div>
{% endif %}
